pipelines:
  default:
      - step:
          name: Step 1 Create BlackBox version
          runs-on: 
            - 'windows'
            - 'self.hosted'
            - 'ue5'
          script:
            - git submodule update --init --recursive            
            - git lfs pull
            - powershell ./Script/01.CreateNewVersion.ps1
            - powershell ./Script/02.CreateBuildForGameClient.ps1
            - powershell ./Script/03.NameTheBuild.ps1
            - powershell ./Script/04.ModifyJusticeConfigurationForGameClient.ps1
            - powershell ./Script/05.BuildWindowsGameClient.ps1
            - powershell ./Script/06.UploadGameSymbol.ps1
            - powershell ./Script/07.UploadGameBinaries.ps1
            