pipelines:
  branches:
    master: # Pipelines that automatically run when merged to master branch
      - step:
          name: Production Pipeline - Build and Deploy
          runs-on:
            - "windows"
            - "self.hosted"
            - "ue5"
          script:
            - git submodule update --init --recursive
            - git lfs pull
            - powershell ./Script/01.CreateNewVersion.ps1
            - powershell ./Script/02.CreateBuildForGameClient.ps1
            - powershell ./Script/03.NameTheBuild.ps1
            - powershell ./Script/04.ModifyJusticeConfigurationForGameClient.ps1
            - powershell ./Script/05.BuildWindowsGameClient.ps1
            - powershell ./Script/06.UploadGameSymbol.ps1
            - powershell ./Script/07.UploadGameBinaries.ps1
            - powershell ./Script/08.CreateBuildForGameServer.ps1
            - powershell ./Script/09.NameTheBuild.ps1
            - powershell ./Script/10.ModifyJusticeConfigurationForGameServer.ps1
            - powershell ./Script/11.BuildLinuxGameServer.ps1
            - powershell ./Script/12.UploadSymbol.ps1
            - powershell ./Script/13.UploadGameServerBinaries.ps1
            - powershell ./Script/14.UploadGameServerToArmada.ps1
  custom: # Pipelines that are triggered manually
    manualDeployment:
      - variables:
          - name: ForceVersion
      - step:
          name: Custom Pipeline - Manual Deployment
          runs-on:
            - "windows"
            - "self.hosted"
            - "ue5"
          script:
            - git submodule update --init --recursive
            - git lfs pull
            - powershell ./Script/00.ReplaceVersion.ps1 $ForceVersion
            - powershell ./Script/01.CreateNewVersion.ps1
            - powershell ./Script/02.CreateBuildForGameClient.ps1
            - powershell ./Script/03.NameTheBuild.ps1
            - powershell ./Script/04.ModifyJusticeConfigurationForGameClient.ps1
            - powershell ./Script/05.BuildWindowsGameClient.ps1
            - powershell ./Script/06.UploadGameSymbol.ps1
            - powershell ./Script/07.UploadGameBinaries.ps1
            - powershell ./Script/08.CreateBuildForGameServer.ps1
            - powershell ./Script/09.NameTheBuild.ps1
            - powershell ./Script/10.ModifyJusticeConfigurationForGameServer.ps1
            - powershell ./Script/11.BuildLinuxGameServer.ps1
            - powershell ./Script/12.UploadSymbol.ps1
            - powershell ./Script/13.UploadGameServerBinaries.ps1
            - powershell ./Script/14.UploadGameServerToArmada.ps1
    testCompileAll:
      - step:
          name: Custom Pipeline - Compile Only - All Platform
          runs-on:
            - "windows"
            - "self.hosted"
            - "ue5"
          script:
            - git submodule update --init --recursive
            - git lfs pull
            - powershell ./Script/05.BuildWindowsGameClient.ps1
            - powershell ./Script/11.BuildLinuxGameServer.ps1
    testCompileGameClientOnly:
      - step:
          name: Custom Pipeline - Compile Only - Game Client Only
          runs-on:
            - "windows"
            - "self.hosted"
            - "ue5"
          script:
            - git submodule update --init --recursive
            - git lfs pull
            - powershell ./Script/05.BuildWindowsGameClient.ps1
    testCompileGameServerOnly:
      - step:
          name: Custom Pipeline - Compile Only- Game Server Only
          runs-on:
            - "windows"
            - "self.hosted"
            - "ue5"
          script:
            - git submodule update --init --recursive
            - git lfs pull            
            - powershell ./Script/11.BuildLinuxGameServer.ps1            
